@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.app-container {
  background-color: #313338;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Inconsolata', monospace;
}
